nav{

	display: grid;
	grid-template-columns: 70% 30%;
	grid-column-gap: 1em;
	grid-row-gap: 1em;

	grid-gap: 1em;
}

body{

	display: grid;
	grid-template-columns: 1fr 2fr 1fr;

	grid-template-columns: repeat(4, 1fr);
	/*repeating 1fr 4 times*/

	grid-template-columns: repeat(4, 1fr 2fr);
	/*repeating 1fr 2 fr 4 times*/
	grid-auto-rows:100px;
	/*height=100px for all*/

	grid-auto-rows: minmax(100px, auto);
	/*min 100 but can go as big as it has content*/

	justify-items: center, start, or stretch;
	align-items: start, center, or end or the defalt is stretch;
}



.box {
	grid-column:1/3;
	/*take the box from line 1 to line 3 "horizontal"*/
	gird-row:1/3;
	/*top to bottom line 1-3*/
	grid-column:3;
	/*takes up the whole column*/
}